<div id="<%= dom_id article %>" class="article">
  <p>
    <strong style="color: red">Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong style="color: red">Description:</strong>
    <%= article.description %>
  </p>
    <%= link_to "Show this article", [ :admin, article ], style: "border: 1px solid red; padding: 4px; text-decoration: none; border-radius: 4px" %>
</div>
