<% if article.status == "published" %>
  <%= link_to article do %>
<div class="card bg-base-100 w-96 shadow-sm">
  <figure>
    <% if article.cover_image.attached? %>
            <%= image_tag article.cover_image %>
          <% else %>
            No cover image available.
        <% end %>
  </figure>
  <div class="card-body">
    <%= article.title %>
    <%= article.description %>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">See more</button>
    </div>
  </div>
</div>
  <% end %>
<% end %>

