<p style="color: green"><%= notice %></p>

<div class="flex flex-col">
    <p>
        <strong>Title:</strong>
        <%= @article.title %>
    </p>

    <p>
        <strong>Description:</strong>
        <%= @article.description %>
    </p>
    <p>
    </p>
    <%= link_to "Back to articles", articles_path, class: "mt-20 border-1 border-gray" %>
</div>