<div id="<%= dom_id video %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= video.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Youtube link:</strong>
    <%= video.youtube_link %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Short description:</strong>
    <%= video.short_description %>
  </div>
</div>
